<li>
  <%= link_to review.game.title, game_path(review.game) %> - 
  <%= link_to review.editor.name, editor_path(review.editor) %> <strong><%= review.score %></strong>
  <ul>
    <li>
      <%= link_to 'more', game_review_path(review.game, review) %>, 
      <%= link_to 'delete', game_review_path(review.game, review),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</li>