<%= form_for ([@review, @review.reviews.build]) do |f| %>
  <h3>Add a review</h3>
  <div class="question-group">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div class="question-group">
    <label for="review[editor_id]">Editor</label>
    <select name="review[editor_id]" id="review[editor_id]">
      <% Editor.all.each do |editor| %>
        <option value="<%= editor.id %>"><%= editor.name %></option>
      <% end %>
    </select>
  </div>
  <div class="question-group">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <%= f.submit "save", class: "btn btn-primary" %>
<% end %>
