<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Reviews</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope='col'>Title</th>
            <th scope='col'>Editor</th>
            <th scope='col'>Score</th>
          </tr>
        </thead>  
        <tbody>
          <% reviews.each do |review| %>
            <% if review.id %>
              <tr>
                <td>
                  <%= link_to review.game.title, game_path(review.game) %>
                </td> 
                <td>
                  <%= link_to review.editor.name, editor_path(review.editor) %>
                </td>
                <td><strong><%= review.score %></score></td>
                <td>
                  <%= link_to 'read', review.link %>
                </td>
                <td>
                  <%= link_to 'delete', game_review_path(review.game, review),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
                </td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>