<%= form_for ([@review, @review.reviews.build]) do |f| %>
  <h3>Add a review</h3>
  <div class="question-group">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div class="question-group">
    <%= f.label :editor_id %>
    <%= f.text_field :editor_id %>
  </div>
  <div class="question-group">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <%= f.submit "save", class: "btn btn-primary" %>
<% end %>
