
<%= form_for @game do |f| %>
    <div class='form-group'>    
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class='form-group'>
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_area :description,  class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :releasedate, class: 'control-label'%>
      <%= f.date_select :releasedate,  class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :boxart, 'Box Art (jpg, png)', class: 'control-label' %>
      <%= f.file_field :boxart,  class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= collection_check_boxes(:console, :console_id, Console.all, :id, :abbr, {:item_wrapper_class => 'checkbox'}) %>
    </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>