<%= form_for @game do |f| %>
  <fieldset>
    <p>    
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :releasedate %>
      <%= f.date_select :releasedate %>
    </p>

    <p>
      <%= f.label :boxart, 'Box Art (jpg, png)' %>
      <%= f.file_field :boxart %>
    </p>
    <p>
      <%= collection_check_boxes(:console, :console_id, Console.all, :id, :abbr) %>
    </p>
  </fieldset>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>