<%= form_for @editor do |f| %>
  <fieldset>
    <p>    
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </p>

    <p>
      <%= f.label :outlet %>
      <%= f.text_field :outlet %>
    </p>

    <p>
      <%= f.label :avatar, 'Photo (jpg, png)' %>
      <%= f.file_field :avatar %>
    </p>
  </fieldset>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>